/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
:root {
  --theme__color1: #FF6600;
  --theme__color2: #5384F7;
  --theme__green: #5FBC5D;
  --theme__darkblue: #04133C;
  --text__color: #7F7F80;
  --theme__background: #fff;

  --montserrat: 'Montserrat', sans-serif;
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--theme__background);
  color: var(--text__color);
  font-family: var(--montserrat);
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
a, a:active, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}



/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {
  background: #fff;
}
.header-section__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 112px;
}
.header__logo img {

}

.main-menu {

}
.main-menu > ul {
  gap: 10px;
  display: flex;
}
.main-menu > ul > li {

}
.main-menu > ul > li > a {
  height: 80px;
  font-size: 15px;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.main-menu:not(:hover) > ul > li > a.active,
.main-menu > ul > li > a:hover {
  background: var(--theme__color1);
  color: #fff;
}
.main-menu > ul > li > a .chevron {
  font-size: 9px;
  margin: 0 0 0 4px;
}
/* header-end */


/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 25px;
  top: 25px;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #d5dce2;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.offcanvas-menu ul li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 10px;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/


/* ============= common-content ============= */
.h2 {
  font-size: 32px;
  margin: 0 0 16px;
  font-weight: 600;
  color: var(--theme__color1);
}
.h3 {
  font-size: 30px;
  font-weight: 600;
  color: var(--theme__darkblue);
}
.sec-title {
  margin: 0 0 60px;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  align-items: center;
  text-align: center;
}
/* ============= common-content-end ============= */


/* ============= hero-section ============= */
.hero-section {
  background: url('images/hero-image.png') no-repeat center center/cover;
  color: #fff;
}
.hero-section__inner {
  padding: 205px 0 190px;
}

.hero__content {
  text-align: center;
} 
.hero__content .h1 {
  font-size: 44px;
  margin: 0 0 25px;
  line-height: 1.52;
  text-transform: uppercase;
  font-weight: 400;
}
.hero__content h3 {
  font-size: 34px;
  font-weight: 600;
}
.hero__content__bottom-buttons {
  margin: 53px 0 0;
  display: flex;
  gap: 25px;
  justify-content: center;
}
/* ============= hero-section-end ============= */


/* ============= client-brand-section ============= */
.client-brand-section {
  padding: 120px 0;
}
.client-brand-section__inner {

}
.client-brand-section__title {

}

.client-brands-wrapper {
  display: grid;
  grid-column: 70px;
  grid-row-gap: 50px;
  grid-template-columns: repeat(6,1fr);
}
.client-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}
.client-brand img {
  height: 65px;
}
/* ============= client-brand-section-end ============= */



/* ============= section ============= */
/* ============= section-end ============= */